@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--plyr-color-main: var(--base-50); /* Main accent color (blue-500 example) */
	--plyr-video-control-color: #fff; /* Icon color */
	--plyr-video-control-background-hover: var(--color-base-800);
	--plyr-range-fill-background: var(--color-primary-800); /* Progress bar color */
	--plyr-range-thumb-background: var(--color-base-100);

	--base-50: oklch(0.985 0.0013 286.84);
	--base-100: oklch(0.967 0.0027 286.38);
	--base-200: oklch(0.92 0.0053 286.32);
	--base-300: oklch(0.871 0.008 286.29);
	--base-400: oklch(0.705 0.012 286.07);
	--base-500: oklch(0.552 0.016 285.94);
	--base-600: oklch(0.442 0.0147 285.79);
	--base-700: oklch(0.37 0.012 285.81);
	--base-800: oklch(0.274 0.008 286.03);
	--base-900: oklch(0.21 0.0053 285.89);
	--base-950: oklch(0.141 0.004 285.83);
	--base-1000: oklch(0.096 0.0027 285.79);

	--primary-50: oklch(0.9811 0.0036 187.42);
	--primary-100: oklch(0.9514 0.0117 187.62);
	--primary-200: oklch(0.9099 0.0217 187.52);
	--primary-300: oklch(0.8561 0.0302 188.27);
	--primary-400: oklch(0.7791 0.034 190.07);
	--primary-500: oklch(0.7061 0.0333 191.22);
	--primary-600: oklch(0.602 0.0284 193.77);
	--primary-700: oklch(0.5132 0.0233 195.38);
	--primary-800: oklch(0.4646 0.0189 197.03);
	--primary-900: oklch(0.3891 0.0154 197.74);
	--primary-950: oklch(0.2835 0.0115 200.37);
	--primary-1000: oklch(0.2149 0.009 200.99);

	--secondary-50: oklch(0.9831 0.0066 196.52);
	--secondary-100: oklch(0.9543 0.0181 196.87);
	--secondary-200: oklch(0.914 0.033 197.14);
	--secondary-300: oklch(0.8611 0.0504 198.03);
	--secondary-400: oklch(0.811 0.0589 201.14);
	--secondary-500: oklch(0.7107 0.0545 203.05);
	--secondary-600: oklch(0.6054 0.0473 206.07);
	--secondary-700: oklch(0.5164 0.0391 207.58);
	--secondary-800: oklch(0.4448 0.0317 208.98);
	--secondary-900: oklch(0.3931 0.0259 210.38);
	--secondary-950: oklch(0.2923 0.0201 212.36);
	--secondary-1000: oklch(0.227 0.0163 212.92);

	--background: var(--base-50);
	--foreground: var(--base-800);
	--card: var(--color-white);
	--card-foreground: var(--base-800);
	--popover: var(--color-white);
	--popover-foreground: var(--base-800);
	--primary: var(--primary-800);
	--primary-foreground: var(--color-white);
	--secondary: var(--secondary-400);
	--secondary-foreground: var(--color-black);
	--muted: var(--base-100);
	--muted-foreground: var(--base-600);
	--accent: var(--base-100);
	--accent-foreground: var(--base-800);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--base-200);
	--input: var(--base-300);
	--ring: var(--primary-800);
	--chart-1: var(--primary-800);
	--chart-2: var(--secondary-400);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-100);
	--radius: 0.5rem;
	--sidebar: var(--color-white);
	--sidebar-foreground: var(--base-800);
	--sidebar-primary: var(--primary-800);
	--sidebar-primary-foreground: var(--color-white);
	--sidebar-accent: var(--base-50);
	--sidebar-accent-foreground: var(--base-800);
	--sidebar-border: var(--base-200);
	--sidebar-ring: var(--primary-800);
}

.dark {
	--background: var(--base-950);
	--foreground: var(--base-200);
	--card: var(--base-900);
	--card-foreground: var(--base-200);
	--popover: var(--base-900);
	--popover-foreground: var(--base-200);
	--primary: var(--primary-800);
	--primary-foreground: var(--color-white);
	--secondary: var(--secondary-400);
	--secondary-foreground: var(--color-black);
	--muted: var(--base-800);
	--muted-foreground: var(--base-300);
	--accent: var(--base-800);
	--accent-foreground: var(--base-200);
	--destructive: oklch(0.704 0.191 22.216);
	--border: var(--base-800);
	--input: var(--base-700);
	--ring: var(--primary-800);
	--chart-1: var(--primary-800);
	--chart-2: var(--secondary-400);
	--chart-3: var(--primary-300);
	--chart-4: var(--secondary-300);
	--chart-5: var(--primary-100);
	--sidebar: var(--base-900);
	--sidebar-foreground: var(--base-200);
	--sidebar-primary: var(--primary-800);
	--sidebar-primary-foreground: var(--color-white);
	--sidebar-accent: var(--base-800);
	--sidebar-accent-foreground: var(--base-200);
	--sidebar-border: var(--base-800);
	--sidebar-ring: var(--primary-800);
}

@theme inline {
	--color-base-50: var(--base-50);
	--color-base-100: var(--base-100);
	--color-base-200: var(--base-200);
	--color-base-300: var(--base-300);
	--color-base-400: var(--base-400);
	--color-base-500: var(--base-500);
	--color-base-600: var(--base-600);
	--color-base-700: var(--base-700);
	--color-base-800: var(--base-800);
	--color-base-900: var(--base-900);
	--color-base-950: var(--base-950);
	--color-base-1000: var(--base-1000);

	--color-primary-50: var(--primary-50);
	--color-primary-100: var(--primary-100);
	--color-primary-200: var(--primary-200);
	--color-primary-300: var(--primary-300);
	--color-primary-400: var(--primary-400);
	--color-primary-500: var(--primary-500);
	--color-primary-600: var(--primary-600);
	--color-primary-700: var(--primary-700);
	--color-primary-800: var(--primary-800);
	--color-primary-900: var(--primary-900);
	--color-primary-950: var(--primary-950);
	--color-primary-1000: var(--primary-1000);

	--color-secondary-50: var(--secondary-50);
	--color-secondary-100: var(--secondary-100);
	--color-secondary-200: var(--secondary-200);
	--color-secondary-300: var(--secondary-300);
	--color-secondary-400: var(--secondary-400);
	--color-secondary-500: var(--secondary-500);
	--color-secondary-600: var(--secondary-600);
	--color-secondary-700: var(--secondary-700);
	--color-secondary-800: var(--secondary-800);
	--color-secondary-900: var(--secondary-900);
	--color-secondary-950: var(--secondary-950);
	--color-secondary-1000: var(--secondary-1000);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--display-weight: 800;
	--text-weight: 500;
}

@theme inline {
	--font-display: var(--display-family);
	--font-text: var(--text-family);
	--font-mono: var(--font-jetbrains-mono);
}

@layer base {
	.font-display {
		font-weight: var(--display-weight);
	}
	.font-text {
		font-weight: var(--text-weight);
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Base font for all text */
body {
	font-family: var(--text-family);
}

/* Override for headings */
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
	font-family: var(--font-bricolage-grotesque);
}

.plyr {
	border-radius: 12px;
	overflow: hidden; /* important */
}

button,
a,
.squircle,
input {
	corner-shape: squircle;
	border-radius: 10px;
}
